.container {
    width: 100%;
    border: 1px solid black;
}

.left{
    position: relative;
}

.right img{
    width: 100%;
    object-fit: contain;

}

form{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.records{
    border: 1px soolid black;
    height: 50vh;
    overflow-y: scroll;
}

.table{
    text-align: center;
}